<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Lista di indirizzi mail</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ol class="mail-list" v-if="lenghtMailList === 10">
                        <li class="list-item" 
                        v-for="mail in mailList"
                        >
                        {{ mail }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>